.git
.gitignore
.github

.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache

.env
.env.*
!.env.example

data
logs
mlruns

docs
monitoring
k8s
tests
scripts
sql

*.md
!README.md

artifacts/*
!artifacts/models
!artifacts/models/**
